@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');
:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
  --svg-color: #ff0000;
}
body {
  font-family: 'Raleway', sans-serif;
  /* font-optical-sizing: auto; */
  /* font-weight: <weight>; */
  /* font-style: normal; */
}

code {
}

.customer-box {
  /* border: 1px solid; */
  /* min-height: 70vh; */
}

.main-wrap {
  /* border: 1px solid red; */
  display: grid;
  grid-template-rows: 60px 1fr 200px;
  height: 100vh;
  min-height: 856px;
}

.logo {
  fill: #fff;
}

.nav-bar {
  height: var(--nav-size);
  background-color: var(--bg);
  border-bottom: var(--border);
  color: #fff;
  position: relative;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  /* border: 1px solid; */
  height: 100%;
  position: relative;
}

.nav-ul {
  display: flex;
  /* border: 1px solid; */
  list-style: none;
  padding: 0;
}

.nav-button {
  border: 0;
  margin-left: 1em;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}
.nav-button:hover {
  background-color: #484a4d;
  color: #fff;
}
.nav-button-agent-sign-in {
  border-radius: 5px;
  display: block;
  width: 200px;
  padding: 0 1em;
  background-color: #24a65c;
  color: #fff;
}
.nav-button-agent-sign-out {
  border-radius: 5px;
  width: 200px;
  padding: 0 1em;
  background-color: #f20530;
  color: #fff;
}

.none {
  display: none;
}
.caret {
  width: 30px;
}

.dropdown {
  position: absolute;
  top: 63px;
  right: 5px;
  width: 350px;
  background-color: #6d7e8c;
  border-radius: var(--border-radius);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  overflow: hidden;
  transition: height var(--speed) ease;
  padding: 1em;
  padding-bottom: 0;
  z-index: 100;
  box-shadow: -3px -3px 1em rgba(93, 91, 91, 0.2);
}

.nav-drop-wrap {
  position: relative;
}
.nav-buttons-li-wrap:nth-child(2) {
  /* border: 4px solid green; */
}

.nav-left {
  background-color: #6d7e8c;
  position: absolute;
  right: 150px;
  top: 63px;
  width: 270px;
  /* height: 300px; */
  z-index: 3;
  border-radius: 0.3rem;
  padding: 1em;
}

.left-nav-li {
  /* border: 1px solid; */
  font-size: 1em;
  padding: 1em;
  cursor: pointer;
  border-radius: 10px;
}
.left-nav-li:hover {
  background-color: #ccc;
  color: #000;
}
.toggle-nav-ul {
  list-style: none;
  padding: 0;
}
.toggle-nav-list {
  /* border: 1px solid white; */
  border-radius: 0.7em;
  margin-bottom: 0.2em;
  padding: 1em;

  font-size: 1em;
}

.toggle-nav-list:hover {
  background-color: #ccc;
  color: #000;
}

.profile-detais-header {
  /* border: 1px solid;  */
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.change-personal-details {
  background-color: #012e40;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
}
.profile-info {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* border: 1px solid; */
}

.nav-header {
  /* border: 1px solid; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-name-span {
  margin-left: 1em;
}

.nav-sign-out {
  background-color: red;
  padding: 0.2em 0.6em;
  border-radius: 100px;
  cursor: pointer;
  color: #000;
  transition: transform 1s;

  color: #fff;
}
.nav-sign-out:hover {
  transform: scale(1.2);
}
.dropdown-text {
  color: #fff;
  text-decoration: none;
}

/* .btn {
  width: 100%;
  height: 100%;
} */

.footer {
  background-color: var(--bg);

  height: 200px;
  /* margin-top: 2em; */
}

.page-container {
  width: 95%;
  /* border: 1px solid;  */
  margin: auto;
}

.page-header {
  font-size: 1.6em;
  margin-bottom: 1em;
}

.register-link {
  margin-top: 4rem;
  color: #00cc66;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

.name-input,
.email-input,
.password-input {
  margin-bottom: 1em;
}

.reset-email,
.input,
.password-input,
.email-input,
.name-input,
.textarea {
  box-shadow: rgba(0, 0, 0, 0.11);
  border: none;
  background: #ffffff;
  border-radius: 3rem;
  height: 3rem;
  width: 100%;
  outline: none;

  padding: 0 3rem;
  font-size: 1rem;
  border: 1px solid;
}

.input-company,
.reset-email,
.input-name,
.input-phone,
.input-email {
  margin-bottom: 0.5em;
  padding: 0.3em 4em;
  border: 1px solid #305889;
  border-radius: 6px;
  outline-color: rgb(192, 39, 219);
  outline-offset: 5px;
  display: block;
  width: 100%;
  height: 34px;
}

.nnput-name:focus {
  background-color: red;
}

.input-address {
  outline-color: rgb(192, 39, 219);
  outline-offset: 5px;
  border: 1px solid #305889;
  width: 60%;
  min-width: 60%;
  min-height: 6em;
  height: 6em;
  max-height: 8em;
  padding: 1em;
  border-radius: 1em;
}

.forgot-password-link {
  background-color: rgb(89, 83, 83);
  color: #fff;
  padding: 0.5em;
  border-radius: 50px;
}

.name-input {
  background: url('./icons/svg/personIcon.svg') 2.5% center no-repeat;
}
.email-input {
  background: url('./icons/svg/personIcon.svg') 2.5% center no-repeat;
}
.password-input {
  background: url('./icons/svg/lockIcon.svg') 2.5% center no-repeat;
}

@media (min-width: 1350px) {
  .input,
  .password-input,
  .email-input,
  .name-input,
  .textarea {
    padding: 0 5rem;
  }
}

.password-input-div {
  position: relative;
}

.show-password {
  position: absolute;
  top: 20%;
  right: 10px;
}

.forgot-password {
  cursor: pointer;
  color: #00cc66;
  font-weight: 600;
  text-align: right;
}
.sign-up-button,
.sign-in-button {
  background-color: #00cc66;
  border-radius: 50%;
}

.sign-up-text,
.sign-in-text {
  font-size: 1.5rem;
  font-weight: 700;
}
.sign-up-bar,
.sign-in-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.profile-header {
  display: flex;
  justify-content: space-around;
}

.profile-agent-details {
  /* border: 3px solid green; */
}
.profile-card-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
}

.profile-card {
  background-color: #133d60;
  width: 86%;
  padding: 2em;
  border-radius: 0.2em;
  /* margin: auto; */
}
.profile-email,
.profile-name {
  background-color: #133d60;
  width: 100%;
  padding: 0.5em;
  color: #fff;
  margin-bottom: 1em;
  border-bottom: 0.1px solid;
}

.profile-email-active,
.profile-name-active {
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 1em;

  color: #000;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid; */
  margin-top: 2em;
}

.dashboard-container {
  /* border: 1px solid; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
}

.dash-btn {
  margin-right: 1em;
  background-color: rgb(17, 50, 122);
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 50px;
}

.dashboard-left,
.dashboard-right {
  border: 1px solid;
  min-height: 50vh;
}

.profile-btn-container {
  /* border: 1px solid; */
  display: flex;
  /* width: 500px; */
  justify-content: center;
  /* flex-direction: column; */
  margin: 1rem 0;
}

.profile-btns {
  background-color: #f25a38;
  /* background-color: #0780fe; */
  background-color: #2d4b73;
  color: #fff;
  /* border-radius: 10px; */
  padding: 0.5em 1em;
  margin-bottom: 1em;
  margin: 0 5px;
  text-align: center;
  border-radius: 0.3rem;
}
.agent-stats-header-container {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.7em;
}

.agent-stats-text span {
  /* background-color: #0780fe; */
  background-color: #2d4b73;

  color: #fff;
  padding: 1em;
  font-size: 1.2em;
  border-radius: 1em 0em;
}

.profile-sales-header {
  text-align: center;
  margin-top: 0.5em;
  /* border: 1px solid; */
  width: 500px;
}
.new-sign-up-container {
  /* border: 1px solid red; */
  /* background-color: #ccc; */
}
.new-customer-header {
  margin-bottom: 1em;
  margin-top: 1em;
  /* border: 1px solid; */
}
.new-customer-header-text {
  font-size: 1.3em;
  background-color: #0e3a73;
  color: #fff;
  padding: 0.7em;
  /* border-radius: 0.4em; */
}
.new-customer-header-text-name {
  font-size: 1em;
  background-color: #0e3a73;
  color: #fff;
  padding: 0.7em;
  /* border-radius: 0.4em; */
}

.new-customer-header-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-customer-header-div-name {
  /* border: 1px solid; */
  display: flex;
  justify-content: end;
  align-items: center;
}

.new-cust-form-container {
  /* border: 1px solid; */
  /* max-width: 450px; */
  /* height: 60vh; */
}

.new-customer-div {
  /* border: 1px solid; */
}
.new-customer-div-right {
  /* border: 1px solid; */
  border-radius: 1em;
  background-image: url('./images/linkedin-sales.jpg');
  object-fit: cover;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 1em;
  margin: 0em;
  min-height: 580px;
  position: relative;
}

.sign-up-text-box {
  position: absolute;
  left: 0;
  background-color: #083359;
  /* height: 100px; */
  width: 400px;
  border-radius: 14px;
  padding: 1em;
}
.sign-up-text-box p {
  color: #fff;
}

.file-upload-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid; */
}

.file-input-wrap {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 60%;
}
.file-input-wrap label {
  /* border: 1px solid; */
  margin-right: 1em;
}

.submit-btn {
  background-color: #3e3e40;
  color: #fff;
  padding: 0.9em 2em;
  border-radius: 50px;

  height: 50px;
}

.social-login {
  /* border: 1px solid;  */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
}

.social-icon {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1);
  width: 3rem;
  height: 3rem;
}
.social-icon-img {
  width: 100%;
}

.more-info-button {
  background-color: #1c354d;
  color: #fff;
  padding: 0.4em 0.9em;
  border-radius: 20px;
}
.customer-page-heading {
  /* border: 1px solid;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 480px;
  margin: auto;
}
.page-heading {
  border-radius: 7px;
  font-size: 20px;
  background-color: #062a40;
  color: #fff;
  padding: 0.5em 1em;
  position: relative;
}

.number-of-notes,
.number-of-sales {
  position: absolute;
  right: -11px;
  top: -0.8em;
  background-color: #ef551f;
  color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 50px; */
  padding: 0;
  font-size: 14px;
}

.profile-pic-container {
}
.profile-pic {
  /* border: 1px solid; */
  width: 60px;
  height: 60px;
  background-color: #ccc;
  margin: auto;
  border-radius: 50%;
}

.personal-details {
  display: flex;
  justify-content: space-around;
}

.profile-page-card {
  background-color: #133d60;
  /* width: 450px; */
  border-radius: 4px;
  margin: auto;
  position: relative;
  padding-top: 2em;
}

.profile-input {
  display: block;
  margin-bottom: 0.2em;
  width: 100%;
  padding: 0.4em;
  /* border-radius: 5px; */
  font-size: 18px;
  border-bottom: 0.1px solid;
}
.profile-card-active {
  background-color: #133d60;
  color: #fff;
  display: block;
  margin-bottom: 0.2em;
  width: 100%;
  padding: 0.4em;
  /* border-radius: 5px; */
  font-size: 18px;
  border-bottom: 0.1px solid;
}

.edit-btn {
  /* position: absolute; */
  color: #fff;
  background-color: rgb(227, 15, 177);
  padding: 0.3em 1em;
  border-radius: 30px;
  top: -59px;
  right: 150px;
  width: 85px;
}

.customer-details-container {
  /* border: 1px solid; */
  max-width: 450px;
  margin: auto;
  margin-top: 1em;
}

.profile-extra-info {
  border-bottom: 1px dashed #000;
  padding: 0.3em;
}
.profile-formatedAddress span {
  /* border: 1px solid; */
  text-align: right;
  width: 50%;
}
.map-container {
  /* border: 1px solid; */
  height: 500px;
  /* margin-top: 1em; */
  padding: 1em;
}

.email-form-input,
.order-input {
  display: block;
  width: 100%;
  border: 0.5px solid rgb(192, 39, 219);
  padding: 1em;
  font-size: 18px;
  height: 2rem;
  margin-bottom: 0.5em;
  border-radius: 2em;
  outline-color: rgb(192, 39, 219);
  outline-offset: 2px;
}

.email-form-body {
  border: 0.5px solid rgb(192, 39, 219);
  outline-color: rgb(192, 39, 219);
  outline-offset: 2px;
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  border-radius: 1em;
  padding: 1em;
}

.note-input {
  width: 100%;
  padding: 1em;
  min-height: 250px;
  max-height: 500px;
  border: 0.5px solid rgb(192, 39, 219);
  outline-color: rgb(192, 39, 219);
  outline-offset: 3px;
  border-radius: 1em;
}

.booking-button {
  background-color: #00cc66;
  color: #fff;
  padding: 0.4em;
  width: 100%;
  border-radius: 20px;
}
.edit-button {
  background-color: #2965a0;
  color: #fff;
  padding: 0.4em;
  width: 100%;
  border-radius: 5px;
  width: 30%;
  display: block;
  margin: auto;
  margin-top: 0.9em;
}
.email-btn-container {
  /* border: 1px solid; */
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
}
.send-email-btn {
  background-color: #2965a0;
  color: #fff;
  padding: 0.5em;
  justify-self: end;
  width: 40%;
}
.note-item {
  /* border: 1px solid; */
  margin-top: 0.5em;
  padding: 1em;
  box-shadow: 1px 2px 5px rgba(110, 110, 110, 0.2), -1px -1px 1px rgba(110, 110, 110, 0.2);
  border-radius: 0.4em;
}
.note-footer {
  /* border: 1px solid; */
  display: flex;
  justify-content: end;
}
.note-edit-text {
  font-size: 14px;
  /* border: 1px solid; */
  flex-grow: 1;
  text-align: end;
  /* background: #989598a3;
  color: #fff;
  padding: 1em; */
}
.order-item {
  /* border: 1px solid; */
  display: flex;
  /* justify-content: space-between; */
  margin-top: 0.5em;
  padding: 1em;
  box-shadow: 1px 2px 5px rgba(110, 110, 110, 0.2), -1px -1px 1px rgba(110, 110, 110, 0.2);
  /* background-color: #2d323e;
  color: #fff; */
  border-radius: 0.5em;
  /* border-bottom: 0.1px dashed grey; */
}

.order-item-top {
  /* border: 1px solid; */
  flex: 1;
}

.order-item-div {
  /* border: 1px solid; */
  border-bottom: 0.1px dashed #ccc;
  padding: 0.4em;
  flex-grow: 1;
}
.order-item-booked-by {
  display: flex;
  justify-content: space-between;
}
.order-btn-container {
  /* border: 1px solid; */
  display: flex;
  padding: 0.7em;
  justify-content: center;
  align-items: center;
  /* width: 330px; */
}

.order-delete {
  background-color: red;
  color: #fff;
  width: 30px;
  height: 30px;
  /* padding: 0.5em; */
  border-radius: 50%;
}

.profile-control-container {
  width: 450px;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 1em;
}
.profile-control-btn {
  background-color: #132260;
  color: #fff;
  padding: 0.2em 1em;
  transform: scale(1);
}
.profile-control-btn-on {
  background-color: red;
  color: #fff;
  padding: 0.2em 1em;
  border-radius: 1em;
  transform: scale(1);
}

.profile-control-btn:active {
  transform: scale(0.9);
}

.cusomer-info-box {
  position: relative;
}

.modal-container {
  background-color: #e90a49f0;
  height: 300px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 2em;
  left: 15px;
  z-index: 401;
  opacity: 0;
  transform: translateY(-100px);
  animation-name: dropIn;
  transition: all 0.5s ease-in;
  animation-duration: 0.5s;
  border-radius: 10px;
  padding: 0.7em;
  opacity: 1;
  box-shadow: 1em 5em 4em rgba(0, 0, 0, 0.2), -1em -2em 3em rgba(0, 0, 0, 0.2);
}

.modal-active {
  transform: translateY(0);
  opacity: 1;
  width: 95%;
}

.modal-footer,
.modal-header {
  /* border: 1px solid; */
  height: 30%;
}

.modal-header {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.modal-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-delete-btn {
  background-color: red;
  height: fit-content;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.modal-header-text {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.warning-icon {
  /* border: 1px solid; */
  display: block;
  fill: #fff;
}

@keyframes dropIn {
  0% {
    transform: translateY(-120%);
  }

  25% {
    transform: translateY(120%);
  }
  50% {
    transform: translateY(-130%);
  }
  75% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-delete-btn {
  background-color: #132260;
  color: #fff;
  font-size: 18px;
  padding: 0.6em;
  border-radius: 8px;
}

.order-sum-up-wrap {
  width: 4em;
  height: 4em;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #143c8c;
  color: #fff;
  font-size: 14px;
  position: relative;
}

.total-sales-text {
  position: absolute;
  background-color: #000;
  width: 80px;
  right: 53px;
  text-align: center;
  z-index: -1;
}

.profile-extra-info {
  display: flex;
  justify-content: space-between;
}

.profile-top-five-header {
  border: 1px solid;
  margin: 1em auto;
  width: fit-content;
  background-color: #201c6b;
  color: #fff;
  padding: 0.7em;
  border-radius: 0.5em;
}
.profile-emails {
  background-color: #2f3d40;
}
.profile-sales {
  background-color: #3d5a73;
}
.profile-notes {
  background-color: #ee2e80;
}

.most-recent-text {
  /* border: 1px solid; */
  width: 100%;
  /* padding-inline-start: 0.3em; */
}
.most-recent-customers {
  width: 80%;
  margin: auto;
}
.most-recent-heading {
  border-bottom: 2.5px dashed rgb(177, 14, 195);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

.most-recent-email-info {
  /* border: 1px solid; */
  width: 100%;
  /* margin-left: 1em; */
  padding: 0.3em 0;
}

.most-recent-email-info:not(:nth-child(1)) {
  /* border: 1px solid; */
  width: 100%;
  margin-left: 1em;
}
.most-recent-customers-items {
  /* border-radius: 0.4em; */
  /* box-shadow: 1px 2px 5px rgba(110, 110, 110, 0.2),
    -1px -1px 1px rgba(110, 110, 110, 0.2); */
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 1em; */
  padding: 0.3em 0;
  /* border: 1px solid; */
  border-bottom: 1px dashed #ccc;
}

.most-recent-customers-items:hover {
  background-color: #ccc;
}
.most-recent-customers-items span {
  /* border: 1px solid; */
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.order-edit {
  width: 34px;
  height: 34px;
}
.notes-btn-container {
  /* border: 1px solid; */
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.note-date-and-agent {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid; */
  width: 90%;
}
.note-box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note-date {
  /* border: 1px solid; */
  padding: 0.3em;
}
.note-span {
  text-align: justify;
}
.order-span,
.note-span {
  /* border: 1px solid; */
  padding: 0.3em;
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  width: 100%;
}

.customer-box-notes,
.customer-box-orders {
  position: relative;
}
.note-edit-modal,
.order-edit-modal {
  position: absolute;
  top: 5em;
  right: 0;
  left: 0;
  /* border: 1px solid;  */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* height: 210px; */
  z-index: 100;
  background-color: rgb(255, 255, 255);
  padding: 2em;
  border-radius: 0.9em;
  box-shadow: 1em 5em 4em rgba(0, 0, 0, 0.2), -1em -2em 3em rgba(0, 0, 0, 0.2);
}
.close-email-modal-btn,
.close-update-order-btn {
  background-color: red;
  color: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  margin: 0.5em;
}

.note-edit-modal {
  height: fit-content;
  /* display: none; */
}

.test {
  border: 1px solid;
  height: 300px;
}
.page-container-home {
}
.grid-wrapper {
  background-image: url('./images/beach.jpg');
  object-fit: cover;
  width: 100%;
  height: 73.2vh;
  min-height: 680px;
  background-position: center;
}

.admin-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1224px) {
  .admin-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 921px) {
  .admin-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.agent-sign-up-left {
  background-image: url('./images/beach.jpg');
  object-fit: cover;
  width: 100%;
  /* height: 73.2vh; */
  min-height: 680px;
  background-position: center;
  background-size: cover;
  background: linear-gradient(to top, #3233388e, #1761accc),
    url('./images/beach-2.jpg') no-repeat top center;

  background-position: center;
}

.admin-header {
}

.text-container {
  /* border: 3px solid green; */
}

.home-h1 {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  position: relative;
  /* align-items: end; */
}

.home-text-container {
  /* border: 3px solid white; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-text-main {
  font-size: 3rem;
  color: #fff;
  background-color: #012e40;
  padding: 0.2em 0.6em;
  border-radius: 0em;
  border-radius: 0.2em;

  opacity: 0.8;
}

.home-text-sub {
  font-size: 1.4rem;
  color: #fff;
  background-color: #bf244e;
  padding: 0.2em 0.6em;
  border-radius: 0.2em;

  display: block;
  width: fit-content;
  margin-top: 0.3em;
  align-self: flex-end;
  opacity: 0.8;
}
.home-text-sub-top {
  font-size: 1.4rem;
  color: #fff;
  background-color: #bf244e;
  padding: 0.2em 0.6em;
  border-radius: 0.2em;

  display: block;
  width: fit-content;
  margin-bottom: 0.3em;
  align-self: flex-start;
  opacity: 0.8;
}

.home-text-sub.des-by {
  font-size: 14px;
  background-color: rgb(186, 34, 199);
}

.money-off-home {
  background-color: #ff551b;
  color: #fff;
  /* padding: 3em; */
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  /* border-radius: 50%; */
  position: absolute;
  top: -65px;
  font-weight: 700;
  transform: rotate(-5deg);
  /* right: -40px; */
  opacity: 0.8;
}

.agent-log-in-form-container {
  max-width: 90%;
  margin: auto;
}

.agent-login-form-header {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #fff;

  font-size: 1.5em;
}

.agent-login-form-container {
  /* border: 1px solid; */
  margin: 1em 0;
}

.agent-login-container {
  max-width: 90%;
  border: 1px solid;
  margin: auto;
  margin-top: 4rem;
  background-color: #37628d;
  padding: 1em;
}

.agent-login-inputs {
  /* border: 0.3px solid #ff551b; */
  width: 100%;
  height: 40px;
  padding: 0.3em;
  border-radius: 50px;
  padding-left: 1.3em;
  margin-bottom: 0.3em;
}

.agent-login-button-container {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 1em; */
}

.agent-login-button {
  background-color: #f23838;
  /* background-color: ; */
  padding: 0.3em 1em;
  color: #fff;
  border-radius: 50px;
  /* align-self: center; */
}

.forgot-password-login-page {
  /* font-size: 1em;
  background-color: #034159; 
  /* color: #000;
  background-color: #fff; */
}

.welcome-back-text-container {
  margin-top: 5.5em;
}

.welcome-back-text {
  text-align: center;

  font-size: 1.7em;
}

.agent-inner-div {
  /* border: 1px solid; */
  min-height: 710px;
}

.agent-inner-div-2 {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/beach-2.jpg');
  /* object-fit: cover; */
  background-size: cover;
  background: linear-gradient(to top, #3233388e, #1761accc),
    url('./images/beach-2.jpg') no-repeat top center;

  background-position: center;
  padding: 1em;
}

.agent-inner-div-text {
  height: 100%;
  padding: 1em;
}

.sign-in-text-container {
  /* border: 1px solid; */
}
.sign-in-h1-text {
  margin-top: 0.5em;
  text-align: center;

  font-size: 3em;
  color: #fff;
  /* border: 1px solid black; */
}

.sign-in-info {
  /* margin-top: 5em; */
  padding: 3em;
}

.sign-in-list::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #ff551b;
  position: absolute;
  top: 22.6px;
  left: -20px;

  /* border-radius: 50%; */
}
.sign-in-list {
  position: relative;
  font-size: 1.4em;
  color: #fff;
  line-height: 2.5;
}

.agent-task-list-container {
  /* border: 1px solid; */
  /* max-width: 500px; */
}

.task-list-input-text {
  /* border: 1px solid; */
  min-height: 160px;
  max-height: 160px;
  width: 100%;
  padding: 0.7em;
  border: 0.2px solid #f24405;
  outline: none;
  font-size: 1.2em;
  border-radius: 5px;
}
.completed-by-container {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
}
.date-container {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-chars-length {
  background-color: #00cc66;
  background-color: #0e3a73;
  padding: 0.2em 0.4em;
  color: #fff;
  border-radius: 4px;
}
.task-list-input-date {
  border: 0.2px solid #f24405;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  margin-left: 0.2em;
}

.task-list-button-container {
  /* border: 1px solid green; */
  display: flex;
  justify-content: flex-end;
  margin-top: 0.6em;
}

.task-list-button {
  background-color: #f24405;
  color: #fff;
  padding: 0.2em 0.8em;
  border-radius: 0.3em;
  /* justify-self: flex-start; */
}

.task-list-heading {
  margin-bottom: 0.2em;
  text-align: center;
  margin-bottom: 0.4em;
}
.agent-task-name-span {
  background-color: #f24405;
  /* background-color: #0780fe; */
  background-color: #2d4b73;
  padding: 0.4em 1em;
  color: #fff;
  text-align: center;

  position: relative;
}

.task-head-span {
  /* border: 1px solid; */
  margin: 2rem 0;
  display: block;
}
/* background-color: #FF0D77; */
.agent-task-length-span {
  background-color: #f2055c;
  position: absolute;
  top: -15px;
  right: -20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.to-be-completed-span {
  /* background-color: #0780fe; */
  background-color: #2d4b73;

  color: #fff;
  padding: 0.5em;
  /* padding-right: 0.5em; */
  border-radius: 4px;
}

.task-list-container {
  /* border: 1px solid; */
  margin-top: 1em;
}
.task-list-ul {
  margin-top: 1em;
}

.task-item-com {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: -1;
  background-color: #ccc;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 1px dashed;
  opacity: 1;
}

.task-item {
  /* border: 1px solid red; */
  /* background-color: #ccc; */
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 1px dashed;
  position: relative;
  z-index: 1;
}

/* .completed {
  background-color: #ccc;
  opacity: 0.4;
} */

.check-box {
  z-index: 300;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 600;
  width: 35px;
  height: 35px;
  fill: rgb(18, 223, 18);
  background-color: #fff;
}

.task-text {
}

.button-completed {
  background-color: green;
}

.strike-text {
  text-decoration: line-through;
}

.task-date-container {
  /* border: 1px solid; */
  padding: 0.3em;
  display: flex;
  justify-content: end;
}
.task-date-container p {
  /* background-color: #ccc; */
  border-bottom: 2px dashed red;

  font-weight: 600;
}
.task-list-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.task-button {
  background: #182436;
  color: #fff;
  padding: 0.4em;
  border-radius: 5px;
}
.task-button-completed {
  background: #01a488;
  color: #fff;
  padding: 0.4em;
  border-radius: 5px;
}

.agent-sign-up {
  /* border: 1px solid; */
  min-height: 680px;
}

.agent-sign-up-right {
  padding: 2em;
}

.agent-sign-in-form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

/*  ******************************************************************** */
.sign-in-form-container {
  /* border: 1px solid; */
  margin-bottom: 1em;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1), -1px -2px 10px rgba(0, 0, 0, 0.1);
  padding: 1em;
  border-radius: 0.4em;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* min-height: 50%; */
}
.admin-controls-text-container {
  text-align: center;
  font-size: 1.2em;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.admin-controls-text-container p {
  background: #384173;
  color: #fff;
  padding: 0.5em;
}
.sign-up-input {
  border: 0.1px solid #8a1049;
  height: 2em;
  padding: 0.6em;
  font-size: 1.2em;
  border-radius: 50px;
  margin-bottom: 0.4em;
}

/* .sign-up-agent-button {
  background-color: #8a1049;
  color: #fff;
  padding: 0.3em;
  border-radius: 50px;
} */
.sign-up-agent-button,
.modify-agent-button {
  background-color: #00cc66;
  color: #fff;
  padding: 0.3em;
  border-radius: 50px;
  width: 50%;
  margin-top: 0.3em;
}
.delete-agent {
  background-color: red;
}
.sign-up-agent-button {
  background-color: #8a1049;
  width: 50%;
}

.button-loading {
  background-color: #404040;
  color: #fff;
}

.checkbox-container {
  /* border: 1px solid; */
  display: flex;
  align-items: end;
  flex-direction: column;
  padding: 0 1em;
  margin-bottom: 0.3em;
}

.checkbox-inner {
  /* border: 1px solid; */
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-label {
  /* border: 1px solid; */
  /* width: 100%; */
  margin-right: 0.5em;
  color: #8a1049;

  /* font-weight: 300; */
}

.admin-check {
  width: 20px;
  height: 20px;
}

.reports-to-div {
  margin: 1rem 0;
}
.manager-select {
  border: 0.1px solid #8a1049;
  border-radius: 6px;
  width: 100%;
  padding: 0.7rem;
}

.reports-to-label {
  padding: 0.3rem;
  display: block;
}
.no-data-to-show-container {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-data-text {
  background-color: #062a40;
  color: #fff;
  padding: 1em;
  height: 60px;
}

.profile-no-data-container {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;

  font-size: 1.2em;
  margin-top: 0.5em;
}

.profile-no-data-container p {
  background-color: #878a8c;
  padding: 0.7em;
  color: #fff;
}
.new-customer-tex-list-ul {
  margin-left: 50px;
}
.new-customer-tex-list-item {
  color: #fff;
  position: relative;
}
.new-customer-tex-list-item::before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: red;
  top: 7px;
  left: -20px;
}

.stats-no-data {
  margin-top: 2em;
}

.sign-in-password-div {
  position: relative;
}
.show-password-button {
  background-color: #034159;
  color: #fff;
  padding: 0.2em 1em;
  border-radius: 50px;
  position: absolute;
  top: 5px;
  right: 4px;
  width: 70px;
}

.dash-container {
  /* border: 1px solid; */
  min-height: 60px;
  /* position: relative; */
}
.send-msg-div {
  /* background-color: red; */
  position: relative;
}

.send-msg-modal {
  /* display: none; */
}

.dash-grid-item {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}

.msg-btn-container {
  /* border: 1px solid; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hidden {
  display: none;
}

.order-input-edit::selection {
  color: rgb(255, 0, 0);
  background: #f2cb05;
}

.stats-heading-container {
  /* border: 1px solid; */
  min-height: 60px;
  margin: 0.5em;
}

.stats-header-box {
  /* border: 1px solid; */
}

.search-stats-input {
  width: 80%;
  height: 45px;
  padding: 1em;
  border: 0.1px solid;
  border-radius: 0.3em;
  outline: none;
}

.search-stats-form {
  /* border: 2px solid green; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table,
th,
td {
  /* border: 1px solid black; */
  /* border-collapse: collapse; */
  margin: 0;
  padding: 0;
}
table {
  /* border: 2px solid red; */
  /* width: 100%; */
  /* max-width: 500px; */
}

.stats-div {
  /* border: 1px solid; */
}

th {
  /* border: 1px solid; */
  width: 400px;
  padding-left: 1em;
  margin: 0;
  text-align: start;
  padding: 0;
  text-align: center;
}

.table-container {
  /* border: 1px solid; */
  /* max-width: 1000px; */
  overflow: hidden;
  overflow-x: scroll;
  overflow: auto;
}
tr {
  /* border: 1px solid black; */
  overflow: scroll;
}

tr:hover {
  background-color: #ccc;
}

td {
  /* border: 1px solid; */
  padding: 0.4em;
}
.table-span {
  border: 0.1px solid #0e3a73;
  border-radius: 10px;
  padding: 0.3em;
  padding-left: 2em;
}

.table-span:hover {
  background-color: #222640;
  color: #fff;
}

.table-span-med {
  /* background-color: red; */
  width: 80px;
}
.table-span-lg {
  /* background-color: red; */
  width: 100px;
}

.table-scroll {
  overflow: scroll;
  /* border: 1px solid; */
}

.table-wrapper {
  border: 2px solid green;
}
.points {
  min-width: 100px;
  padding-left: 1em;
}
.gold-customer {
  min-width: 100px;
}
.num-of-orders {
  min-width: 100px;
  padding-left: 1em;
}
.amount-spent {
  min-width: 100px;
  padding-left: 0;
  padding-left: 1em;
}
.sign-up-agent {
  min-width: 180px;
}
.stats-page-custID {
  min-width: 180px;
}
.stats-cust-email {
  min-width: 290px;
}
.stats-cust-name {
  min-width: 200px;
}
.stats-rating {
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testing-nav {
  /* background-color: red; */
}

.logo-box {
  /* background-color: red; */
}

.admin-control-header {
  /* border: 1px solid; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.admin-control-text {
  /* background-color: #143c8c; */
  /* color: #fff; */
}

.show {
  display: block;
}

.agent-page-right {
  /* border: 3px solid; */
  padding: 2em;
}

.user-list-li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1em;
  /* box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1); */
  border-radius: 0.1em;
  transform: scale(1);
  background-color: #4bb2f2;

  color: #fff;
}
.user-list-li:hover {
  transform: scale(1.1);
  transform: rotate(-1deg);
}

.user-list-info {
  /* border: 1px solid; */
  padding: 1em;
}

.agent-page-right-header-container {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  /* margin-top: 3em; */
}

.agent-page-right-header-container p {
  background-color: #384173;
  color: #fff;
  padding: 0.7em 1em;
}

.send-message-button {
  /* background-color: #0780fe; */
  background-color: #2d4b73;
  padding: 0.6em;
  color: #fff;
  width: 180px;
}

.close-messenger {
  background-color: red;
  width: 180px;
}

.view-messages-btn {
  background-color: #19879e;
  color: #fff;
  padding: 0.6em;
  color: #fff;
  width: 180px;
  position: relative;
}

.messages-number {
  position: absolute;
  background-color: rgb(192, 52, 52);
  top: -9px;
  left: -10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.close-messages {
  background-color: red;
}

.messenger-heading-text {
  /* background-color: red; */
  text-align: center;
  /* padding: 0.3em; */
  font-size: 1.3em;
  margin-bottom: 1.3em;
}
.select-agent {
  width: 100%;
  padding: 0.6em 1em;
  border: none;
  border: 0.5px solid rgb(192, 39, 219);
  border-radius: 40px;
  margin-bottom: 0.5em;
  outline-color: rgb(192, 39, 219);
  outline-offset: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-possition-container {
  position: relative;
}

.select-arrow {
  position: absolute;
  /* background-color: red; */
  /* width: 20px; */
  /* height: 20px; */
  right: -3px;
  top: 10px;
  pointer-events: none;
  transform: rotate(135deg);
}

.select-arrow {
  fill: #4b83ae;
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

.display-messages-container {
  position: absolute;
  z-index: 3;
  background-color: rgb(46, 133, 192);
  background-color: #fff;
  width: 100%;
  max-height: 470px;
  overflow-y: scroll;
  top: 80px;
  padding: 1.2em;
  box-shadow: 1em 5em 4em rgba(0, 0, 0, 0.3), -1em -2em 3em rgba(0, 0, 0, 0.3);
  padding-bottom: 2.4em;
  border-radius: 0.9em;
}

.no-messages-yet {
  background-color: teal;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 1em;
}
.message-li {
  border-bottom: 1px dashed;
  padding-bottom: 1em;
  margin-top: 2.5em;
}

.messages-header {
  /* border: 1px solid; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
.messages-header p {
  background-color: #1c1d1d;
  padding: 0.3em 0.8em;
  color: #fff;
}
.message-from-info {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  margin: 0.7em 0;
}

.message-display-text {
  padding: 0 1em;
}

.delete-message-btn-container {
  /* border: 1px solid; */
  display: flex;
  justify-content: end;
}

.delete-msg {
  background-color: rgb(223, 41, 41);
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  font-size: 16px;
}

.profile-page-account-stats-container {
  /* border: 1px solid red; */
  padding: 0 2.1em;
  margin-top: 2em;
}

.profile-stats-li::before {
  content: url('./icons/chev-right.svg');
  width: 40px;
  position: absolute;
  top: 10px;
  left: 45%;
  /* mask: url('./icons/chev-right.svg'); */
  /* fill: var(--svg-color); */
}

.profile-stats-li {
  /* border: 1px solid; */
  display: flex;
  margin-top: 0.8em;
  justify-content: space-between;
  padding: 1em;
  box-shadow: 0.8em 0.3em 0.8em rgba(190, 185, 185, 0.2),
    -0.8em -0.3em 0.8em rgba(190, 185, 185, 0.2);
  transform: rotate(0deg);
  transform: scale(1);
  border-radius: 0.9em;
}
.profile-stats-li:hover {
  transform: rotate(-1deg) scale(1.1);
}

.forgot-password-modal {
  background-color: #37628d;
  /* margin-top: 2em; */
  width: 90%;
  margin: 2.4em auto;
  height: 250px;
  padding: 2em;
}

.forgot-password-header {
  /* border: 1px solid; */
  height: 50px;
}

.forgot-password-heading {
  color: #fff;

  font-size: 1.5em;
  display: flex;
  justify-content: center;
  /* border: 1px solid; */
}
.forgot-password-body {
  /* border: 1px solid; */
  width: 90%;
  margin: 1em auto;
}

.forgot-password-input-container {
  position: relative;
}

.reset-password-input {
  width: 100%;
  height: 40px;
  padding: 0.3em;
  border-radius: 50px;
  padding-left: 1.3em;
  outline: none;
  /* outline-color: rgb(192, 39, 219);
  outline-offset: 2px; */
}
.reset-password-button {
  background: #900a48;
  position: absolute;
  top: 2px;
  right: 2px;
  height: 90%;
  color: #fff;
  padding: 0 1em;
  border-radius: 50px;
  transform: scale(1);
}
.reset-password-button:active {
  transform: scale(0.9);
}

.forgot-password-footer {
  /* border: 1px solid; */
  font-size: 1em;
  margin-top: 4em;
}
.forgot-password-footer h3 {
  font-size: 1em;
  color: #fff;
  text-align: center;
}

.main-data-container {
  /* background-color: red; */
  overflow-x: scroll;
  width: 100%;
}

.data-table-head-row th {
  /* border: 1px solid; */
  /* border-right: 1px solid; */

  text-align: left;
  padding: 1em;
  min-width: 200px;
  /* transform: scale(1); */
}
.profile-picture-data-table-container {
  position: relative;
}

.profile-picture-data-table {
  background-color: #ccc;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.profile-picture-data-table img {
  border-radius: 50%;
}
.profile-box {
  display: inline;
}

.data-table-row:hover {
  background-color: #345b73;
  color: #fff;
}

.data-table-head-row :nth-child(1) {
  /* background-color: red; */
}
.data-table-row {
  padding: 1em;
}
.data-table-row td {
  border-bottom: 1px dashed;
  /* border-right: 0.1px solid #cccc; */
  padding: 1em;
}

.data-page-container {
  /* border: 1px solid; */
  overflow-x: scroll;
  max-width: 1800px;
  /* width: 450px; */
}

.main-data-page-search-container {
  /* border: 1px solid; */
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  /* height: 70px; */
}
.data-page-search-box {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-page-search-input {
  border: 1px solid;
  height: 40px;
  width: 80%;
  padding: 1em;
  margin: 1em 0;
  outline: none;
  border-radius: 5px;
}

.data-header-text {
  /* border: 1px solid; */
  text-align: center;

  font-size: 1.2em;
  padding: 0.6em;
}

@media only screen and (max-width: 600px) {
  body {
    /* background-color: lightblue; */
  }
  .stats-page-container,
  .data-page-container {
    width: 460px;
  }
}
@media only screen and (max-width: 1238px) {
  .stats-page-container,
  .data-page-container {
    max-width: 1000px;
  }
}
@media only screen and (max-width: 994px) {
  .stats-page-container,
  .data-page-container {
    max-width: 800px;
  }
}

.more-data-info-button {
  background-color: #162c40;
  color: #fff;
  padding: 0.3em 1em;
}

.data-table-row:hover .more-data-info-button {
  /* background-color: #F2BA52; */
  background-color: #d9b36c;
  /* color: #000; */
}

.data-icon-container {
  /* border: 1px solid; */
  width: 300px;
  height: 500px;
  margin: auto;
  position: relative;
}

.data-icon {
  position: absolute;
  bottom: 25%;
}

.testing {
  display: flex;
}

.progress-bar-wrapper {
  /* border: 1px solid; */
  /* min-height: 50px; */
  margin-bottom: 10px;
}
.progress-outer {
  height: 30px;
  background-color: #c9d2d8;
  margin: 0.5rem;
  border-radius: 6px;
}

.progress-bar {
  transition: width 800ms ease-in-out;
  height: 100%;
  width: 50%;
  background-color: #1f598c;
  background-color: #1f7334;
  background-color: #009444;
  /* background-color: #0067CC; */
  background-color: #d91438;
  border-radius: 6px;
}

.progress-buttons {
  /* height: 40px; */
  display: flex;
  justify-content: center;

  /* margin-top: 0.5rem; */
}

.progress-buttons button {
  background-color: #1f598c;
  padding: 1rem;
  margin: 0 4px;
  min-width: 130px;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  position: relative;
}

.convert-active-div {
  position: absolute;
  width: 90%;
  height: 2px;
  border-radius: 40px;
  background-color: #f24f13;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
}

.percentage-div {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #f24f13;

  cursor: default;
}

@media screen and (max-width: 600px) {
  .progress-buttons {
    flex-direction: column;
  }

  .progress-buttons button {
    margin: 5px 0;
  }

  .percentage-div {
    width: 100%;
    height: 100px;
    font-size: 1.3rem;
    margin-top: 0.7rem;
  }

  .convert-active-div {
    position: absolute;
    width: 99%;
    height: 5px;
    border-radius: 40px;
    bottom: -6.6px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.admin-alert-modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-alert-modal {
  background-color: #fff;
  height: 400px;
  max-width: 900px;
  width: 100%; /* Ensure it scales down with screen size */
  overflow: auto; /* Handle overflow content */
}

.admin-alert-modal {
  display: grid;
  grid-template-rows: 100px 2fr 1fr;
  box-shadow: 1px 3px 50px rgba(0, 0, 0, 0.2), -1px -3px 50px rgba(0, 0, 0, 0.2);
}
.admin-alert-modal > div {
  /* border: 1px solid; */
}

/* background-color: #f2055c; */
.admin-alert-info-p {
  /* width: fit-content; */
  border-bottom: 1px dashed;
}

.admin-alert-info-p span {
  /* border: 1px solid; */
  margin-right: 0px;
  width: 200px;
  display: inline-block;
  font-size: 1.1rem;
  padding: 5px 1rem;
}
.admin-alert-info-p span:nth-child(1) {
  text-align: end;
}

.admin-alert-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-admin-modal-btn {
  background-color: red;
  border: none;
  color: #fff;
  padding: 1rem;
  border-radius: 4px;
}

.admin-alert-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.admin-alert-p-1 {
  font-size: 2rem;

  color: #f2055c;
}
.admin-alert-p-2 {
  font-size: 1.1rem;

  /* font-weight: 500; */
  /* color: #f2055c; */
}

.admin-alert-footer {
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 0.4rem;
}

.admin-x,
.admin-check {
  font-size: 1.2rem;
}

.admin-x {
  color: red;
}

.admin-check {
  color: #00cc66;
}

.new-sign-up-page-container {
  /* border: 1px solid; */
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.new-sign-up-div {
  /* border: 0.1px solid; */
}

.signup-head-p {
  text-align: center;
  font-size: 1.6rem;
  margin: 1rem 0;
}

.sign-up-form-group {
  margin-bottom: 4px;
}

.signup-input {
  border-radius: 0.4em;
  border: 1px solid;
  padding: 0.7rem 0.5rem;
  border: 0.5px solid #22414e;
  font-size: 1.1rem;
  width: 100%;
  cursor: default;
}

.address-input {
  border: 0.5px solid #22414e;
  width: 50%;
  max-width: 50%;
  min-height: 200px;
  max-height: 200px;
  border-radius: 10px;
  padding: 1rem;
  cursor: default;
}

.file-upload-input {
  padding: 0.3em;
  /* background-color: #3e3e40; */
  border-radius: 2em;
  color: #fff;

  font-size: 1em;
  width: 100%;
}

.file-upload-input::file-selector-button {
  font-weight: bold;
  padding: 0.5em 1em;
  border: none;
  margin-right: 1em;
  border-radius: 2em;
  cursor: pointer;
}

.img-drop-zone {
  height: 200px;
  width: 50%;
  background-color: #22414e;
  padding: 1rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}

.img-icon {
  font-size: 6rem;
  color: #fff;
}

.new-signup-btn {
  background-color: #22414e;
  color: #fff;
  padding: 1rem;
  border-radius: 0.3rem;
}
@media screen and (max-width: 1238px) {
  .new-sign-up-page-container {
    grid-template-columns: 2fr;
  }
}
@media screen and (max-width: 800px) {
  .new-sign-up-page-container {
    grid-template-columns: 1fr;
  }
}

/* DROP ZONE */

.img-drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.img-drop-zone.dragging {
  background-color: #f0f0f0; /* Change to your desired color */
}

.img-drop-label {
  cursor: pointer;
}
.image-container {
  /* border: 1px solid; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-preview {
  /* max-width: 100px; */
  width: 180px;
  height: 180px;
  border-radius: 0.8rem;
  /* margin: 10px; */

  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2), -1px -2px 10px rgba(0, 0, 0, 0.2);
}

.text-area-group {
  /* border: 1px solid; */
  display: flex;
}
/* ================  ALL DATA PAGE ============= */
.all-data-page-container {
  /* border: 1px solid; */
  min-height: 100vh;
}

.data-header {
  /* border: 1px solid; */
  display: flex;
  border-bottom: 1px solid;
  padding: 0.5rem;
}

.data-header-div {
  /* border: 1px solid; */
  width: 100%;
}

.all-data-item-container {
  /* border: 1px solid; */
  display: flex;
  border-bottom: 0.1px solid;
  align-items: center;
  padding: 0.5rem;
}

.data-all-item {
  width: 100%;
  /* border: 1px solid; */
}
.all-data-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.item-div {
  display: none;
}

.all-data-section-top {
  margin-top: 1rem;
}

.all-data-header-p {
  text-align: center;
  font-size: 1.3rem;
}

@media screen and (max-width: 1500px) {
  .data-header-div:nth-child(1),
  .data-all-item:nth-child(1) {
    display: none;
  }
}
@media screen and (max-width: 1352px) {
  .data-header-div:nth-child(2),
  .data-all-item:nth-child(2) {
    display: none;
  }

  .data-all-item {
    padding: 1rem;
  }
}

@media screen and (max-width: 1210px) {
  .data-header-div:nth-child(3),
  .data-all-item:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .data-header-div:nth-child(4),
  .data-all-item:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .data-header-div:nth-child(1),
  .data-all-item:nth-child(1),
  .data-header-div:nth-child(2),
  .data-all-item:nth-child(2),
  .data-header-div:nth-child(3),
  .data-all-item:nth-child(3),
  .data-header-div:nth-child(4),
  .data-all-item:nth-child(4),
  .data-header-div:nth-child(5),
  .data-all-item:nth-child(5),
  .data-header-div:nth-child(6),
  .data-all-item:nth-child(6),
  .data-header-div:nth-child(7),
  .data-all-item:nth-child(7),
  .data-header-div:nth-child(8),
  .data-all-item:nth-child(8),
  .data-header-div:nth-child(9),
  .data-all-item:nth-child(9) {
    display: flex;
    flex-direction: column;
  }

  .all-data-item-container {
    flex-direction: column;
  }

  .item-div {
    display: block;
    /* color: red; */
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: 700;
  }

  .all-data-img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }

  .data-all-item {
    font-size: 1.4rem;
    /* border: 1px solid; */
    margin: 1rem 0;
  }

  .data-header {
    display: none;
  }

  .all-data-header-p {
    font-size: 1.8rem;
  }

  .data-all-item {
    padding: 0rem;
  }
}
/* ================  ALL DATA PAGE ============= */
/* ================  UPDATE REPORTS TO ============= */
.update-reports-to {
  max-width: 80%;
  margin: 1rem auto;
}

.reports-to-select {
  /* all: unset; */
  border-radius: 1rem;
  border: 0.1px solid;
  display: block;
  width: 100%;
  padding: 1rem;
}
/* ================  UPDATE REPORTS TO ============= */

/* ================  DETAILS STATS WRAP ============= */
.details-page-stats-wrap {
  /* border: 1px solid; */
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.details-stats-div {
  /* border: 1px solid; */
  width: 32%;
  border-radius: 0.3rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
  line-height: 1.3;
}

.details-stats-div:nth-child(1) {
  background-color: #011f26;
}
.details-stats-div:nth-child(2) {
  background-color: #f23030;
}
.details-stats-div:nth-child(3) {
  background-color: #026e81;
}
/* ================  DETAILS STATS WRAP ============= */
